table.film tr:nth-child(2n+3)
{
	background: slategrey;
}

table.film tr:first-child
{
	background: lightseagreen;
}

table.film tr:nth-child(2n)
{
	background: lightgrey;
}

table
{
	border-collapse: collapse;
}

div.centered
{
	margin: auto;
	width: 75%;
	background: slategray;
	padding: 1%;
}

input[id="range"]
{
	width: 30px;
}

input[type="text"]
{
	width: 70px;
}

table.indiv tr:nth-child(2n+3)
{
	background: slategrey;
}

table.indiv tr:nth-child(2n)
{
	background: lightgrey;
}


table.indiv tr:first-child
{
	background: lightseagreen;
}

table.detail tr:nth-child(2n+3)
{
	background: slategrey;
}

table.detail tr:nth-child(2n)
{
	background: lightgrey;
}

.centeredtext
{
	text-align: center;
}

div.inner
{
	margin: auto;
	width: 75%;
}
