<!DOCTYPE html>
<html lang="fr">
	<head>
		{% block head %}
		<meta charset="utf8">
		<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	</head>
	<body>
		<section id="content">
			{% block content %}
			{% endblock %}
		</section>
		<footer id="footer" class="centeredtext">
			{% block footer %}
				&copy; TWIG/CRUD Student assignement <a href="index.php">DM CRUD</a>
			{% endblock %}
		</footer>
		<script src="static/scripts/jquery.js"></script>
		<script src="static/scripts/scripts.js"></script>
	</body>
</html>