{% extends "base_template.html" %}
{% block title %}Detail film{% endblock %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="static/css/style.css" />
{% endblock %}

{% block content %}
<div class="centered">
	<div class="inner">
		<b>Informations :</b>
		<table class="detail">
			<tr>
				<td>Code</td><td>{{ film.code_film }}</td>
				<td></td>
			</tr>
			<tr>
				<td>Titre français</td><td>{{ film.titre_francais }}</td>
				<td><form action="php/controller.php" method="POST">
					<input type="text" name="value" />
					<input type="submit" value="->"/>
					<input type="hidden" name="action" value="modfilm" />
					<input type="hidden" name="field" value="titre_francais" />
					<input type="hidden" name="id" value="{{ film.code_film }}" />
				</form></td>
			</tr>
			<tr>
				<td>Titre original</td><td>{{ film.titre_original }}</td>
				<td><form action="php/controller.php" method="POST">
					<input type="text" name="value" />
					<input type="submit" value="->"/>
					<input type="hidden" name="action" value="modfilm" />
					<input type="hidden" name="field" value="titre_original" />
					<input type="hidden" name="id" value="{{ film.code_film }}" />
				</form></td>
			</tr> 
			<tr><td>Genres</td><td>
				{% set _genres = '' %}
				{% for genre in genres %}
					{% set _genres = _genres ~ ' ' ~ genre.nom_genre %}
				{% endfor %}
				{{ _genres }}
				</td><td></td></tr>
			<tr>
				<td>Pays</td><td>{{ film.pays }}</td>
				<td><form action="php/controller.php" method="POST">
					<input type="text" name="value" />
					<input type="submit" value="->"/>
					<input type="hidden" name="action" value="modfilm" />
					<input type="hidden" name="field" value="pays" />
					<input type="hidden" name="id" value="{{ film.code_film }}" />
				</form></td>
			</tr>
			<tr>
				<td>Date</td><td>{{ film.date }}</td>
				<td><form action="php/controller.php" method="POST">
					<input type="text" name="value" />
					<input type="submit" value="->"/>
					<input type="hidden" name="action" value="modfilm" />
					<input type="hidden" name="field" value="date" />
					<input type="hidden" name="id" value="{{ film.code_film }}" />
				</form></td>
			</tr>
			<tr>
				<td>Duree</td><td>{{ film.duree }}</td>
				<td><form action="php/controller.php" method="POST">
					<input type="text" name="value" />
					<input type="submit" value="->"/>
					<input type="hidden" name="action" value="modfilm" />
					<input type="hidden" name="field" value="duree" />
					<input type="hidden" name="id" value="{{ film.code_film }}" />
				</form></td>
			</tr>
			<tr>
				<td>Couleur</td><td>{{ film.couleur }}</td>
				<td><form action="php/controller.php" method="POST">
					<input type="text" name="value" />
					<input type="submit" value="->"/>
					<input type="hidden" name="action" value="modfilm" />
					<input type="hidden" name="field" value="couleur" />
					<input type="hidden" name="id" value="{{ film.code_film }}" />
				</form></td>
			</tr>
			<tr>
				<td>Image</td><td>{{ film.image }}</td>
				<td></td>
			</tr>
		</table>
		<br>
		<b>Realisateur :</b>
		<table class="indiv">
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Nationalite</th>
				<th>Naissance</th>
				<th>Mort</th>
				<th>Action</th>
			</tr>
			<tr>
				{% if film.realisateur %}
					<td>{{ real.nom }}</td>
					<td>{{ real.prenom }}</td>
					<td>{{ real.nationalite }}</td>
					<td>{{ real.date_naiss }}</td>
					<td>{{ real.date_mort }}</td>
					<td>
						<form action="php/controller.php" id="removereal" method="POST">
							<input type="submit" value="X"/>
							<input type="hidden" name="rid" value="{{ real.code_indiv }}" />
							<input type="hidden" name="id" value="{{ film.code_film }}" />
							<input type="hidden" name="action" value="removereal" />
						</form>
					</td>
				{% else %}
					<form action="php/controller.php" method="POST">
						<td><input type="text" name="nom" /></td>
						<td><input type="text" name="prenom" /></td>
						<td><input type="text" name="nat" /></td>
						<td><input type="text" name="naiss" /></td>
						<td><input type="text" name="deces" /></td>
						<td><input type="submit" value="+"/></td>
						<input type="hidden" name="id" value="{{ film.code_film }}" />
						<input type="hidden" name="action" value="addreal" />
					</form>
				{% endif %}
			</tr>
		</table>
		<br>
		<b>Acteurs :</b> 
		<table class="indiv">
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Nationalite</th>
				<th>Naissance</th>
				<th>Mort</th>
				<th>Action</th>
			</tr>
			{% for acteur in acteurs %}
				<tr>
					<td>{{ acteur.nom }}</td>
					<td>{{ acteur.prenom }}</td>
					<td>{{ acteur.nationalite }}</td>
					<td>{{ acteur.date_naiss }}</td>
					<td>{{ acteur.date_mort }}</td>
					<td>
						<form action="php/controller.php" id="removeact{{acteur.code_indiv}}" method="POST">
							<input type="submit" value="X"/>
							<input type="hidden" name="aid" value="{{ acteur.code_indiv }}" />
							<input type="hidden" name="id" value="{{ film.code_film }}" />
							<input type="hidden" name="action" value="removeact" />
						</form>
					</td>
				</tr>
			{% endfor %}
			<tr>
				<form action="php/controller.php" method="POST">
					<td><input type="text" name="nom" /></td>
					<td><input type="text" name="prenom" /></td>
					<td><input type="text" name="nat" /></td>
					<td><input type="text" name="naiss" /></td>
					<td><input type="text" name="deces" /></td>
					<td><input type="submit" value="+"/></td>
					<input type="hidden" name="id" value="{{ film.code_film }}" />
					<input type="hidden" name="action" value="addact" />
				</form>
			</tr>
		</table>
		<form action="php/controller.php" id="removefilm" method="POST">
			<input type="hidden" name="id" value="{{film.code_film}}" />
			<input type="hidden" name="action" value="removefilm" />
			<label>Supprimer le film</label>
			<input id="subremove" type="submit" value="X"/>
		</form>
	</div>
</div>
{% endblock %}
