{% extends "base_template.html" %}
{% block title %}Rechercher film{% endblock %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="static/css/style.css" />
{% endblock %}

{% block content %}
<div class="centered">
	<div class="inner">
		<table class="film">
			<tr>
				<th>#</th><th>Titre original</th><th>Titre français</th><th>Pays</th><th>Année</th><th></th>
			</tr>
		{% for film in films %}
			<tr>
				<td>{{ film.code_film }}</td>
				<td>{{ film.titre_original }}</td>
				<td>{{ film.titre_francais }}</td>
				<td>{{ film.pays }}</td>
				<td>{{ film.date }}</td>
				<td><a href="index.php?id={{film.code_film}}">Détails</a></td>
			</tr>
		{% endfor %}
		<form action="php/controller.php" id="addfilm" method="POST">
			<tr>
				<td></td>
				<td><input type="text" name="titre_o" value=""></td>
				<td><input type="text" name="titre_fr" value=""></td>
				<td><input type="text" name="pays" value=""></td>
				<td><input type="text" name="date" value=""></td>
				<td><input type="submit" value="+"></td>
				<input type="hidden" name="action" value="newfilm" />
			</tr>
		</form>
		</table>
		<form action="index.php" class="centeredtext" id="navform" method="POST">
			<input id="prev" type="submit" name="move" value="<"/>
			Range :<input id="range" name="range" type="text" value="{{ range }}"/>
			<input id="next" type="submit" name="move" value=">"/>
			<input id="beg" type="hidden" name="beg" value="{{ beg + range }}">
		</form>
	</div>
</div>
{% endblock %}
